<!DOCTYPE html>
<html>
<head>
    <title>Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="display:flex; justify-content:center; align-items:center; height:100vh; background:#1a202c;">
    <div class="form-card" style="width:380px;">
        <h2 style="text-align:center; color:#2ecc71;">Reset Password</h2>
        
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <p style="color: #e74c3c; text-align:center; font-size: 14px; font-weight: bold;">{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}

        <form action="/forgot_password" method="POST">
            <label>Master Key</label>
            <input type="password" name="master_key" placeholder="Enter Master Key" required>
            
            <label>Registered Email</label>
            <input type="email" name="email" placeholder="Your Registered Email" required>
            
            <label>New Password</label>
            <input type="password" name="new_password" placeholder="New Password" required>
            
            <button type="submit" class="btn-submit" style="width: 100%; margin-top: 15px;">UPDATE PASSWORD</button>
        </form>
        <p style="text-align:center;"><a href="/login" style="color:#2ecc71; text-decoration:none;">Back to Login</a></p>
    </div>
</body>
</html>